html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    width: 100%;
    background-color: #E8E8E8;
    z-index: -1;
}

body.light {
    background-color: #F5F5F5;
}

a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav.navbar.navbar-toggleable.navbar-default.light {
    background-color: #F5F5F5;
    box-shadow: 0 1px 20px 0 rgba(82,82,82,0.50);
}

nav.navbar.navbar-toggleable.navbar-default.light a.nav-link {
    color: #2B667F;
}

nav.navbar.navbar-toggleable.navbar-default.light a.nav-link.on-focus {
    color: #4494B6;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.50);
    padding: 5%;
    border-radius: 2px;
    border: none;
    height: 90%;
}

.card.new-card {
    background-color: #FFFFFF;
    border-radius: 2px;
    border: none;
}

img.logo-white, img.logo-dark {
    height: 50px;
    width: 50px;
}

img.footer-logo {
    height: 30px;
    width: 30px;
}

button.sign-in-button {
    background-color: #4E8EA9;
    border: none;
    border-radius: 19px 19px 19px 19px;
}

button.white-button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 19px 19px 19px 19px;
}

button:focus {
    outline: 0px;
}

li.divider {
    padding: 4px
}

nav.navbar {
    background-color: #2B667F;
    padding: 3% 5%;
}

.navbar .navbar-collapse {
    text-align: center;
}

span.navbar-toggler-icon {
    background-image: url("../img/Menu.png");
    height: 41px;
    width: 41px;
    margin-top: 9.5px;
}

span.navbar-toggler-icon.dark {
    background-image: url("../img/Menu%20Dark.png");
    height: 41px;
    width: 41px;
    margin-top: 9.5px;
}

a.nav-link {
    color: #FFFFFF;
}

a.nav-link.on-focus {
    color: #4494B6;
}

h1, p, h2{
    color: #FFFFFF;
}

div.container {
    width: 100%;
}

div.container.main-head{
    padding: 5% 10% 3% 10%;
}

div.container.container-bottom {
    padding: 5% 10% 2% 10%;
}

div.container.card-ele.front {
    background-image: url('../img/Globe.png');
    background-attachment: scroll;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 1322px 1418px;
}

div.container.card-ele.back {
    background-image: url('../img/Globe.png');
    background-attachment: scroll;
    background-position: center -920px;
    background-repeat: no-repeat;
    background-size: 1322px 1418px;
    padding-bottom: 0;
}

div.container.card-ele.front.register {
    background-image: url('../img/Globe Register.png');
    background-attachment: scroll;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 1322px 1418px;
    text-align: center;
    padding-top: 110px;
}

div.top-card {
    background: #2B667F;
}

div.bottom-card {
    background: #2B667F;
}

div.jumbotron.jumbotron-fluid.text-center {
    background: #2B667F;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

div.jumbotron.jumbotron-fluid.text-center.lower {
    background: #2B667F;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.nav-item.sign-in {
    padding-left: 8px;
}

img.upper-globe, img.lower-globe{
    width: 90%;
    height: 100%;
}

.parallax {
    background-image: url('../img/Map.png');
    background-attachment: fixed;
    background-position: center -650px;
    background-repeat: no-repeat;
    background-size: 1980px 2445px;
    box-shadow: inset 0 11px 8px -10px #333333, inset 0 -11px 8px -10px #333333;
    height: 40em;
}

footer {
    text-align: center;
    padding: 25px 3% 25px 3%;
    background-color: #E8E8E8;
}

section.form-wrap {
    background: #FFFFFF;
    position: relative;
    box-shadow: 0 4px 20px 0 #616161;
    padding: 40px 35px 35px 35px;
    text-align: left;
    width: 90%;
    display: inline-block;
}

input {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 10px 10px 10px 12px;
    width: 100%;
}

input.input-button {
    font-family: Roboto;
    color: #FFFFFF;
    border-radius: 17px;
}

.TextInput {
    padding-bottom: 2%;
}

div.col {
    bottom: 100px
}

@media (max-width: 576px) {
    .nav-item.sign-in {
        padding: 12px 8px 0 8px;
    }

    .hide-it {
        display: none;
    }

    .divider {
        display: none;
    }

    div.feature h3 {
        margin: 0;
    }

    div.col {
        margin-top: 40px;
    }
}

div.link-group {
    position: relative;
    height: 30px;
    text-align: center;
}

i.material-icons {
    font-size: 19px;
    top: 4px;
    left: 2px;
    position: relative;
}

@media (min-width: 600px) {
    section.form-wrap {
        width: 500px;
    }
}

@media (min-width: 1500px) {
    div.col {
        bottom: 130px;
    }
}

@media (min-width: 2100px) {
    div.col {
        bottom: 190px;
    }
}

@media (min-width: 3200px) {
    div.col {
        bottom: 250px;
    }
}
